<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entrar / Twitter</title>
    
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
        body {
            font-family: 'Ubuntu', sans-serif;
        }
    </style>

</head>
<body>

    <main class="w-screen h-screen flex flex-col justify-center items-center">

        <div class="w-8 h-8 mt-2 cursor-pointer">
            <svg viewBox="0 0 24 24">
              <g>
                <path style="fill:#1DA1F2;" class="text-blue-600 bg-white"  d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
                  </path>
                </g>
              </svg>
          </div>

        <h1 class="mt-10 font-bold text-xl">Entrar no Twitter</h1>

        <form class="w-1/2 mt-5 flex flex-col justify-center" action="/auth" method="post">
            <label class="pl-3" style="color:#6a7c80; background:#F4F7FA" for="email">Celular, e-mail ou nome de usuário</label>
            <input style="background:#F4F7FA" class="h-10 pl-3 border-b-2 focus:outline-none" type="text" name="email" id="email">
            <label class="mt-5 pl-3" style="color:#6a7c80; background:#F4F7FA" for="password">Senha</label>
            <input style="background:#F4F7FA" class="h-10 pl-3 border-b-2 focus:outline-none" type="password" name="password" id="password">
            <input type="submit" value="Entrar" style="background:#1DA1F2" class="mt-10 h-10 rounded-full cursor-pointer hover:bg-blue-600 text-white">
        </form>

        <a href="/register" class="mt-5">Não possui uma conta? Se inscreva!</a>

    </main>
    
</body>
</html>